.weightSelector {
  display: flex;
  align-items: center;
}

.weightInput {
  width: 60px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e0e0e0;
}
